* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(116, 231, 212),
    rgb(241, 243, 116)
  );
}

a {
  text-decoration: none;
  color: white;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #333;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: rgb(78, 76, 76);
}

.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

button.zero {
  width: 130px;
}

/* light theme */

.calculator {
  background-color: #fff;
}

.calculator #display {
  color: #000;
}

.calculator button#clear {
  background-color: #ece929;
  color: #000;
}

.calculator button.btn-number {
  background-color: #e7fad7;
  color: #000;
}
.calculator button#equal,
#backspace {
  background-color: #d3f7b5;
  color: #000;
}

.calculator button.btn-operator {
  background-color: #d3f7b5;
}

/* dark theme */
.calculator.dark {
  background-color: #071115;
}

.calculator.dark button#clear {
  background-color: rgb(187, 245, 53);
  color: #000;
}

.theme-toggler.active::before {
  background-color: rgb(213, 243, 165);
}

.calculator.dark #display {
  color: #fff;
}
